
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.header {
    margin: auto;
    width:100%;
    overflow: hidden;
    background-color: #17a2b8;
    padding: 5px 50px;
    color:#fff;
    text-align: center;
    font-size: 20px;
}

.header button {
    float: left;
    color: black;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    border-radius: 4px;
    background-color: #17a2b8;
    border:none;
    cursor:pointer;
    
  }

  .header-label {
    position:absolute;
    right:25%;
    padding: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
  

  .header button:hover {
    background-color: #8aa3bb;
  }

  .header a.active {
    background-color: dodgerblue;
  }

  
.header-right {
    float: right;
  }

  @media screen and (max-width: 500px) {
    .header button label {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right, .header-label {
      float: none;
    }
  }